* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto;
}

$color-primary: #d04f4f;
$color-secondary: #e7e7e7;
$color-tertiary: #c7bebe;
$color-fourth: #3282f7;
$color-fifth: #68d9a4;
$color-sixth: #ed6454;

/* Header */

header {
    text-align: center;
    margin-top: 2rem;

    h1 {
        color: $color-primary;
        margin-top: 0;
    }

    .searchBarContainer {
        height: 69px;
        display: flex;
        justify-content: space-between;
        margin: 2rem;

        .searchBar {
            border: none;
            background-color: $color-secondary;
            border-radius: 5px 0 0 5px;
            width: 100%;
            padding: 1rem;
            font-size: 1.2rem;
        }

        .searchBar:focus {
            outline: none;
        }

        .searchButton {
            border: none;
            border-radius: 0 5px 5px 0;
            background-color: $color-secondary;
            width: 4rem;
            cursor: pointer;

            .fa-search {
                font-size: 1.8rem;
            }
        }
    }
}

/* Filter buttons */

.sortRecipes {
    display: flex;
    margin: 3rem;

    #ingredientsBtn {
        width: 16rem;

        &.active {
            width: 35rem;
            margin-right: 1rem;
        }
    }

    #appliancesBtn {
        width: 16rem;

        &.active {
            width: 35rem;
            margin-right: 1rem;
        }
    }

    #ustensilsBtn {
        width: 16rem;

        &.active {
            width: 35rem;
            margin-right: 1rem;
        }
    }

    .sortBtn {
        // margin: 1rem;
        color: white;
        padding: 20px 24px;
        font-size: 16px;
        font-weight: 700;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        min-width: 160px;
        letter-spacing: 1px;
        text-align: left;

        &.active {
            width: 35rem;
        }
    }

    // each button with different background color
    .sortBtnIngredients {
        background-color: $color-fourth;
    }

    .sortBtnAppliances {
        background-color: $color-fifth;
    }

    .sortBtnUstensils {
        background-color: $color-sixth;
    }

    .sortBtn:focus {
        outline: none;
    }

    ::placeholder {
        color: white;
        
    }

    .fa-angle-down {
        position: relative;
        left: -50px;
        top: 4px;
        cursor: pointer;
        color: black;
        font-size: 1.4rem;
        transition: 1ms;

        &.active {
            // adds class active in js when clicked on dropBtn to rotate the arrow
            transform: rotate(180deg);
            transition: 1ms;
            top: -42px;
            left: 520px;
        }
    }

}


/* Sort Buttons Container */

#ingredientsContainer {
    background-color: $color-fourth;
    max-height: 300px;
    width: 35rem;
    overflow: auto;
    position: relative;
    top: -27px;
    border-radius: 0 0 5px 5px;


    .ingredientsContent {
        /* Dropdown Content (Hidden by Default) */
        display: none;
        
    }

    .ingredientsOption {
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        list-style-type: none;
        margin: 0;
        padding: 12px;
        width: 10rem;
        height: 2.5rem;

    }

    .show {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

#appliancesContainer {
    background-color: $color-fifth;
    max-height: 300px;
    width: 35rem;
    overflow: auto;
    position: relative;
    top: -27px;
    border-radius: 0 0 5px 5px;


    .appliancesContent {
        /* Dropdown Content (Hidden by Default) */
        display: none;

    }

    .appliancesOption {
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        list-style-type: none;
        margin: 0;
        padding: 12px;
        width: 10rem;
        height: 2.5rem;

    }

    .show {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

#ustensilsContainer {
    background-color: $color-sixth;
    max-height: 300px;
    width: 35rem;
    overflow: auto;
    position: relative;
    top: -27px;
    border-radius: 0 0 5px 5px;


    .ustensilsContent {
        /* Dropdown Content (Hidden by Default) */
        display: none;

    }

    .ustensilsOption {
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        list-style-type: none;
        margin: 0;
        padding: 12px;
        width: 10rem;
        height: 2.5rem;

        }

    .show {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}



/* Recipe cards */


.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 4rem;

    .recipeCards {
        width: 420px;
        margin-bottom: 4rem;

        .recipeImage {
            width: 420px;
            height: 178px;
            background-color: $color-tertiary;
            border-radius: 5px 5px 0 0;
        }

        .recipeInfos {
            background-color: $color-secondary;
            height: 210px;
            overflow: hidden;
            border-radius: 0 0 5px 5px;

            .recipeGeneralInfo {
                display: flex;
                justify-content: space-between;
                padding: 0 1rem;
                align-items: center;

                p {
                    display: flex;

                    .fa-clock {
                        margin-right: 0.4rem;
                        background-color: none;
                    }
                }
            }

            .recipeCookingInfo {
                display: flex;
                padding: 0 1rem 1rem 1rem;
                font-size: 12px;
                border-radius: 0 0 5px 5px;

                .recipeIngredients {
                    
                    margin-right: 2rem;
                    p{
                        width: 12rem;
                    }
                    li{
                        list-style-type: none;
                    }
                }

                .recipeInstructions {
                    height: 120px;
                    overflow: auto;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}


/* Tags */

.tags {
    display: flex;
    margin: 0 2rem;

    .ingredientTag {
        background-color: $color-fourth;
        padding: 0.6rem;
        color: white;
        border-radius: 5px;
        margin-right: 0.4rem;
    }

    .applianceTag {
        background-color: $color-fifth;
        padding: 0.6rem;
        color: white;
        border-radius: 5px;
        margin-right: 0.4rem;
    }

    .ustensilTag {
        background-color: $color-sixth;
        padding: 0.6rem;
        color: white;
        border-radius: 5px;
        margin-right: 0.4rem;
    }
}