* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
}

/* Header */
header {
  text-align: center;
  margin-top: 2rem;
}

header h1 {
  color: #d04f4f;
  margin-top: 0;
}

header .searchBarContainer {
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem;
}

header .searchBarContainer .searchBar {
  border: none;
  background-color: #e7e7e7;
  border-radius: 5px 0 0 5px;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
}

header .searchBarContainer .searchBar:focus {
  outline: none;
}

header .searchBarContainer .searchButton {
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #e7e7e7;
  width: 4rem;
  cursor: pointer;
}

header .searchBarContainer .searchButton .fa-search {
  font-size: 1.8rem;
}

/* Filter buttons */
.sortRecipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem;
}

.sortRecipes #ingredientsBtn {
  width: 16rem;
}

.sortRecipes #ingredientsBtn.active {
  width: 35rem;
  margin-right: 1rem;
}

.sortRecipes #appliancesBtn {
  width: 16rem;
}

.sortRecipes #appliancesBtn.active {
  width: 35rem;
  margin-right: 1rem;
}

.sortRecipes #ustensilsBtn {
  width: 16rem;
}

.sortRecipes #ustensilsBtn.active {
  width: 35rem;
  margin-right: 1rem;
}

.sortRecipes .sortBtn {
  color: white;
  padding: 20px 24px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  min-width: 160px;
  letter-spacing: 1px;
  text-align: left;
}

.sortRecipes .sortBtn.active {
  width: 35rem;
}

.sortRecipes .sortBtnIngredients {
  background-color: #3282f7;
}

.sortRecipes .sortBtnAppliances {
  background-color: #68d9a4;
}

.sortRecipes .sortBtnUstensils {
  background-color: #ed6454;
}

.sortRecipes .sortBtn:focus {
  outline: none;
}

.sortRecipes ::-webkit-input-placeholder {
  color: white;
}

.sortRecipes :-ms-input-placeholder {
  color: white;
}

.sortRecipes ::-ms-input-placeholder {
  color: white;
}

.sortRecipes ::placeholder {
  color: white;
}

.sortRecipes .fa-angle-down {
  position: relative;
  left: -50px;
  top: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.4rem;
  -webkit-transition: 1ms;
  transition: 1ms;
}

.sortRecipes .fa-angle-down.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 1ms;
  transition: 1ms;
  top: -42px;
  left: 520px;
}

/* Sort Buttons Container */
#ingredientsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3282f7;
  max-height: 300px;
  width: 35rem;
  overflow: hidden;
  position: absolute;
  top: 324px;
  border-radius: 0 0 5px 5px;
  z-index: 1000;
}

#ingredientsContainer .ingredientsContent {
  /* Dropdown Content (Hidden by Default) */
  display: none;
  margin: 0;
  padding: 20px;
  width: 11rem;
  height: 0.5rem;
}

#ingredientsContainer .ingredientsOption {
  color: white;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
}

#ingredientsContainer .show {
  display: block;
}

#appliancesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #68d9a4;
  max-height: 300px;
  width: 35rem;
  overflow: hidden;
  position: absolute;
  top: 324px;
  border-radius: 0 0 5px 5px;
  z-index: 1000;
}

#appliancesContainer .appliancesContent {
  /* Dropdown Content (Hidden by Default) */
  display: none;
  margin: 0;
  padding: 20px;
  width: 11rem;
  height: 0.5rem;
}

#appliancesContainer .appliancesOption {
  color: white;
  font-weight: 700;
  text-decoration: none;
  display: block;
  letter-spacing: 1px;
  cursor: pointer;
}

#appliancesContainer .show {
  display: block;
}

#ustensilsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ed6454;
  max-height: 300px;
  width: 35rem;
  overflow: hidden;
  position: absolute;
  top: 324px;
  border-radius: 0 0 5px 5px;
  z-index: 1000;
}

#ustensilsContainer .ustensilsContent {
  /* Dropdown Content (Hidden by Default) */
  display: none;
  margin: 0;
  padding: 20px;
  width: 11rem;
  height: 0.5rem;
}

#ustensilsContainer .ustensilsOption {
  color: white;
  font-weight: 700;
  text-decoration: none;
  display: block;
  letter-spacing: 1px;
  cursor: pointer;
}

#ustensilsContainer .show {
  display: block;
}

/* Recipe cards */
.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 4rem;
}

.recipes .recipeCards {
  width: 420px;
  margin-bottom: 4rem;
}

.recipes .recipeCards .recipeImage {
  width: 420px;
  height: 178px;
  background-color: #c7bebe;
  border-radius: 5px 5px 0 0;
}

.recipes .recipeCards .recipeInfos {
  background-color: #e7e7e7;
  height: 210px;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}

.recipes .recipeCards .recipeInfos .recipeGeneralInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipes .recipeCards .recipeInfos .recipeGeneralInfo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipes .recipeCards .recipeInfos .recipeGeneralInfo p .fa-clock {
  margin-right: 0.4rem;
  background-color: none;
}

.recipes .recipeCards .recipeInfos .recipeCookingInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem 1rem 1rem;
  font-size: 12px;
  border-radius: 0 0 5px 5px;
}

.recipes .recipeCards .recipeInfos .recipeCookingInfo .recipeIngredients {
  margin-right: 2rem;
}

.recipes .recipeCards .recipeInfos .recipeCookingInfo .recipeIngredients p {
  width: 12rem;
}

.recipes .recipeCards .recipeInfos .recipeCookingInfo .recipeIngredients li {
  list-style-type: none;
}

.recipes .recipeCards .recipeInfos .recipeCookingInfo .recipeInstructions {
  height: 120px;
  overflow: auto;
}

.recipes .recipeCards .recipeInfos .recipeCookingInfo .recipeInstructions p {
  margin: 0;
}
/*# sourceMappingURL=index.css.map */